@font-face {
	font-family: "Raleway";
	src: url('../Assets/Fonts/Raleway-VariableFont_wght.ttf') format("truetype");
	font-weight: 100 900;
}

@font-face {
	font-family: "Roboto";
	src: url('../Assets/Fonts/Roboto-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Hauser";
	src: url('../Assets/Fonts/Hauser.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

/* *[Animation_State="Animation_State_Paused"]{
    animation-play-state: paused;
} */

/* *[Animation_State="Animation_State_Playing"]{
    animation-play-state: running;
} */

.GG_Title_Banner{
    width: 70%;
    user-select: none;
    pointer-events: none;
    transform: translateY(-20px);
    animation-name: Bounce_Slight;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    position: absolute;
}

.GG_Slide{
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: none;
    transition: 0.75s;
    position: absolute;
}

.Slide_Specific_Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: none;
    animation-play-state: paused;
}



@keyframes Bounce_Slight{
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.GG_Title_BG_Rectangles{
    width: 95%;
    height: 95%;
    border: solid rgb(168, 7, 218) 20px;
    position: absolute;
    animation-name: BG_Rectangles;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    opacity: 0%;
    box-shadow: inset 0px 0px 10px 5px rgb(168, 7, 218);
}

.GG_Title_BG_Rectangles:nth-child(1){
    animation-delay: 0s;
}

.GG_Title_BG_Rectangles:nth-child(2){
    animation-delay: 2s;
}

.GG_Title_BG_Rectangles:nth-child(3){
    animation-delay: 4s;
}

.GG_Title_BG_Rectangles:nth-child(5){
    animation-delay: 6s;
}

.GG_Title_BG_Rectangles:nth-child(6){
    animation-delay: 8s;
}

.GG_Title_BG_Rectangles:nth-child(7){
    animation-delay: 10s;
}

@keyframes BG_Rectangles{
    0% {
        width: 0%;
        height: 0%;
        /* border-width: 30px; */
        opacity: 0%;
        /* transform: rotate(0deg); */
    }

    100%{
        width: 110%;
        height: 110%;
        /* border-width: 40px; */
        opacity: 75%;
        /* transform: rotate(45deg); */
    }
}

.GG_Slide_Title{
    color: white;
    margin: 0;
    font-family: Hauser;
    z-index: 50;
}

.GG_Slide_Title_Ball{
    position: absolute;
    height: 450px;
    transform: translateY(-20px);
}

.GG_Slide_Title_MainText{
    position: absolute;
    transform: translateY(250px);
}

.GG_Slide_Title_Presents{
    position: absolute;
    transform: translateY(-290px) scale(0.56);
}

.GG_Slide_Title_BG{
    width: 100%;
    position: absolute;
}

.GG_Slide_Title_BG:nth-child(2){
    opacity: 25%;
}
.GG_Slide_Title_Clouds{
    position: absolute;
    opacity: 30%;
    align-self: center;
    animation-name: Clouds_Loop;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.GG_Slide_Title_Clouds:nth-child(2){
    transform: translateX(200px);
}

@keyframes Clouds_Loop{
    0% {
        opacity: 30%;
    }
    50% {
        opacity: 20%;
    }
    100% {
        opacity: 30%;
    }
}

.GG_Slide_Remarks_Title{
    font-family: Hauser;
    color: white;
    font-size: 60;
    text-transform: capitalize;
    margin: 0;
    position: absolute;
    transform: translateY(-45px);
    color:rgb(132, 44, 248);
    -webkit-text-stroke: 3px black;
}

.GG_Slide_Remarks_Name{
    font-family: Hauser;
    color: white;
    font-size: 80;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    position: absolute;
    transform: translateY(30px);
    color:rgb(248, 183, 44);
    -webkit-text-stroke: 3px black;
}

.GG_Slide_Remarks_Underline{
    background-color: rgb(248, 183, 44);
    position: absolute;
    height: 40px;
}

.GG_Slide_Remarks_Underline:nth-child(1){
    width: 450px;
}

.Slide_Video{
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: none;
    transition: 0.75s;
    position: absolute;
    background-color: black;
    display: flex;
    justify-content: center;
}

.GG_Slide#GG_Slide_2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GG_Slide#GG_Slide_4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GG_Slide#GG_Slide_6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GG_Slide#GG_Slide_7{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GG_Slide#GG_Slide_7 > .GG_Slide_Title_BG:nth-child(2){
    opacity: 10%;
}

.GG_Slide#GG_Slide_8{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GG_Slide#GG_Slide_9{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GG_Slide#GG_Slide_10{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GG_Slide#GG_Slide_50{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GG_Slide#GG_Slide_51{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GG_Slide#GG_Slide_52{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GG_Slide#GG_Slide_53{
    display: flex;
    justify-content: center;
    align-items: center;
}

.GG_Slide_Introduction_Title{
    color:rgb(248, 183, 44);
    /* color:rgb(153, 44, 248); */
    margin: 0;
    font-family: Hauser;
    z-index: 50;
    font-size: 125;
    -webkit-text-stroke: 5px black;
    text-transform: capitalize;
}

.GG_Slide_Criteria{
    width: 90%;
    height: auto;
    position: absolute;
    z-index: 50;
    /* background-color: rgba(128, 128, 128, 0.301); */
    padding: 10px;
}

.GG_Slide_Criteria_Item{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.GG_Slide_Criteria_Item_Title{
    font-family: Hauser;
    color: rgb(181, 131, 219);
    margin: 0;
    font-size: 70px;
}

.GG_Slide_Criteria_Item_Value{
    font-family: Hauser;
    color: rgb(255, 185, 33);
    text-align: end;
    margin: 0;
    font-size: 90px;
}

.GG_Slide_Flags_Flag{
	position: absolute;
	height: 90%;
	z-index: 1;
	opacity: 80%;
    
    /* animation-iteration-count: infinite; */
}

.GG_Slide_Flags_Flag[data-id="AnimationPlay"]{
    animation-name: Flags_Flag_Rotate;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

.GG_Slide_Flags_Flag_2{
	position: absolute;
	height: 90%;
	z-index: 1;
	opacity: 80%;
    
    /* animation-iteration-count: infinite; */
}

.GG_Slide_Flags_Flag_2[data-id="AnimationPlay"]{
    animation-name: Flags_Flag_Rotate_2;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

.GG_Slide_Flags_Image{
	position: absolute;
	height: 90%;
	z-index: 1;
	opacity: 0%;
}

.GC_Slide_Flags_Country_Decoration{
	position: absolute;
	font-family: Hauser;
	color: rgba(255, 166, 0, 0);
	margin: 0;
	z-index: 50;
    font-size: 120;
	/* -webkit-text-stroke: 3px rgba(255, 255, 255, 0.377); */
}

.GC_Slide_Flags_Country_Title{
    position: absolute;
	font-family: Hauser;
	color: rgb(255, 166, 0);
	margin: 0;
	z-index: 50;
    font-size: 150;
    text-align: center;
    -webkit-text-stroke: 3px black;
}

.GC_Slide_Flags_Country_Title[data-id="AnimationPlay"]{
    animation-name: Flags_Country_ScaleDown;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

.GC_Slide_Flags_Country_Title_2{
    position: absolute;
	font-family: Hauser;
	color: rgb(255, 166, 0);
	margin: 0;
	z-index: 50;
    font-size: 150;
    bottom: 20px;
    text-align: center;
    -webkit-text-stroke: 3px black;
}

.GC_Slide_Flags_Country_Title_2[data-id="AnimationPlay"]{
    animation-name: Flags_Country_ScaleDown;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

.Flags{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.GG_Slide_Flags_Fog{
    position: absolute;
    z-index: 30;
    opacity: 5%;
    bottom: 1px;
    transform: scale(2);
}

.GG_Slide_Flags_Fog[data-id="AnimationPlay"]:nth-child(1){
    animation-name: Flags_Fog_FadeOut_1;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

.GG_Slide_Flags_Fog:nth-child(2)[data-id="AnimationPlay"]{
    animation-name: Flags_Fog_FadeOut_2;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

.GG_Slide_Flags_Fog:nth-child(3)[data-id="AnimationPlay"]{
    animation-name: Flags_Fog_FadeOut_3;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}
